body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/css/Fondo/Fondo5.png');
    background-size: cover; /* Para que el fondo cubra toda la pantalla */
    color: #FFFCF7; /* Color del texto */
    display: flex;
}

.navbar {
    background-color: #141325;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh; /* Mínimo tamaño de la pantalla */
    height: 80px; /* Tamaño fijo para la barra de navegación */
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    top: 0; /* Establecer la posición en la parte superior */
    width: 250px; /* Tamaño fijo para la barra de navegación */
}


.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px; /* Margen para evitar que el color de fondo se salga */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: calc(100% - 10px); /* Ocupar todo el ancho menos el margen */
    text-align: left;
    display: block; /* Mostrar en cascada */
}

.navbar a:hover {
    background-color: #65a675;
}

.container {
    max-width: 1000px; /* Ajustar el tamaño máximo del contenedor */
    margin: 50px auto auto; /* Ajuste del margen superior para evitar superposición con el navbar */
    text-align: center;
    background-color: rgba(20, 19, 37, 0.9); /* Color del contenedor de texto con transparencia */
    padding: 20px;
    border-radius: 10px;
    transform: translateX(18%);
}

h1 {
    color: #67b588;
}

p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #65a675;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #67b588;
}

.logo {
    text-align: center;
    padding: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

table {
    max-width: 800px; /* Ajustamos el ancho máximo de la tabla */
    margin: 20px auto; /* Centramos la tabla horizontalmente */
    background-color: #283747; /* Cambiamos el color de fondo del cuadro de notas */
    border-radius: 10px; /* Agregamos bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregamos sombra */
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #67b588; /* Color del texto */
}

th {
    background-color: #67b588;
    color: #fff; /* Color del texto en los encabezados */
}

tbody tr:nth-child(even) {
    background-color: #1e2b35; /* Nuevo color de fondo para filas pares */
}

tbody tr:hover {
    background-color: #36454f; /* Nuevo color de fondo al pasar el mouse */
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    width: 100%; /* Establecer el ancho al 100% del viewport */
    height: 100%; /* Establecer la altura al 100% del viewport */
}
